		html {
			background-image: url(../images/background.jpeg);
			background-repeat: no-repeat;
			background-size: cover;
		}

		body {
			width: 960px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 30px;
			text-align: center;
			box-shadow: 0 0 5px 5px #f9c3ff;
			background-color: white;
		}

		nav {
			padding: 15px 0 15px;
			margin-bottom: 30px;
			background-color: #fef6ff;
		}

		a {
			color: #000;
			font-size: 18px;
			text-decoration: none;
			font-family: "Oswald", sans-serif;
			letter-spacing: 3px;
		}

		a:hover {
			color: #9a7fb1;
		}

		article {

			padding: 0px 100px 0px 100px;
		}


		h1 {
			font-size: 36px;
			color: #000;
			font-family: "Playfair Display", serif;
		}

		h2 {
			font-size: 16px;
			color: #666;
			font-family: "Playfair Display", serif;
		}

		p {
			font-size: 15px;
			color: #000;
			font-family: "Oswald", sans-serif;
		}

		section img {
			max-width: 100%;
			width: 480px;
			height: auto;
		}

		.description {
			padding-bottom: 40px;
		}